<div class="footer">
    <div class="divider"></div> 
    <ul class="social-media-list"> 
        <li><a href="https://linkedin.com/andrefdez" title="">
            <svg class="svg-icon grey">
            <use xlink:href="/assets/minima-social-icons.svg#linkedin"></use>
            </svg>
            André Fernández</a></li>
        <li><a href="mailto:a@producedbyandre.me" title="">
            <svg class="svg-icon grey">
            <use xlink:href="/assets/minima-social-icons.svg#email"></use>
            </svg>
            a@producedbyandre.me </a></li>
        <li><a href="https://twitter.com/producedbyandre" title="producedbyandre">
            <svg class="svg-icon grey"><use xlink:href="/assets/minima-social-icons.svg#twitter"></use></svg>
            @producedbyandre </a>
            </li>
        <li><a href="https://intragram.com/producedbyandre_" title="">
            <svg class="svg-icon grey">
            <use xlink:href="/assets/minima-social-icons.svg#instagram"></use></svg>
            @producedbyandre_ </a></li> 
    </ul> 
</div>